
.registered{ 
    font-size: 1rem;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    width: 100%;
    margin-top: 1rem;

    // transform: translateX(-50%);
    p { 
        margin: 0 auto;
        width: 100%;
        padding: 0;
    }
}
.buttonBackToLogin{
    font-size: 1.1rem;
    text-decoration: none;
    color:  #55C57A;
    font-weight: 700;
}
