.background {
    background-color: lightblue;
    width: 100vw;
    height: 100vh;
}

.personalData {
    padding: 1.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 35vw;
    height: auto;
    transform: translate(-50%, -50%);
    background-color: white;
    border: none;
    border-radius: 10px;
    // display: grid;
    // grid-template-columns: 2fr 3fr;
    // // grid-column-gap: 20px;
    // grid-template-rows: 1fr;
    align-items: start;
    box-sizing: border-box;


    &__typesList {
        padding: 0;
        list-style-type: none;
        border-right: 1px solid #ccc;
        display: grid;
        grid-template-rows: repeat(6, 1fr);
    }

    &__dataList {
        padding: 0;
        padding-left: 1rem;
        list-style-type: none;
        width: 100%;
        height: auto;
        
        .dataRow {
            display: grid;
            grid-template-columns: 3fr 4fr 2fr;

            &:not(:last-child) {
                margin-bottom: .5rem;
            }

            &__type {
                font-weight: 500;
            }

            &__input {
                // box-shadow: 2px 3px 5px rgba($color: #000000, $alpha: .2);
                height: 1.5rem;
                width: 90%;
                border: none;
                border-bottom: 1px solid #ccc;
                border-radius: 5px;
                font-size: 1rem;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }

            &__button {
                border: none;
                box-shadow: 2px 3px 5px rgba($color: #000000, $alpha: .2);
                width: 60%;
                height: 50%;
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                background-color: #55C57A;
                border-radius: 5px;
            }
        }
    }
}

.readOnly {
    cursor: default;

    &:active,
    &:focus {
        outline: none;
    }
    // background-color: #f0f0f0;
}

.readWrite {
    cursor: text;
    // outline: none;
    &:active, &:focus {
        outline: none;
        border-bottom: 2px solid #55C57A;
        box-shadow: 1px 2px 5px rgba($color: #000000, $alpha: .2);
        // caret-color: #55C57A;
    }
}

.submitButton {
    display: block;
    margin: 1.5rem auto;
    border: none;
    box-shadow: 2px 3px 5px rgba($color: #000000, $alpha: .2);
    height: 2.5rem;
    color: white;
    background-color: #55C57A;
    border-radius: 5px;
}